venv/
.venv/

*.pyc
__pycache__/


.vscode/
.idea/
*.iml

Pipfile.lock
poetry.lock
requirements.txt

*.log
*.tmp

.env
*.env

/docs/_build/
/build/

.bash_history
.bashrc
.gitconfig

*.so
*.dll
*.exe

.DS_Store
.pytest_cache/
.coverage